---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/">{SITE_TITLE}</a>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/resume">Resume</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		padding: 0 1em;
		max-width: 720px;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.internal-links {
		display: flex;
		gap: 1em;
	}
</style>
